/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #C3C3C3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

form {
    background-color: #C3C3C3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}

input[type="text"] {
    width: calc(100% - 22px);
    height: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
}

.button {
    text-align: right;
    background-color: navy;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: #000080;
}

.flex-container {
    display: flex;
    flex-flow: column;
    background-color: white;
    justify-content: space-around;

    border-radius: 8px;
    padding: 10px 50px;
    margin: 0;
    list-style: none;
  }

  .flex-item {
    padding: 5px;
    width: auto;
    height: auto;
    margin-top: 10px;
  }