<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Command Executor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <div class="flex-container">
        <h2 class="flex-item">Enter the Alarm:</h2>
        <div class="flex-item">
        <form action="/execute" method="post">
            <input type="text" name="command">
            <input type="submit" value="Execute" class="button">
        </form>
    </div>
    </div>
    

</body>
</html>
